body{
    background-color: olive;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    margin: 50px;
    padding: 50px;
    border: 2px solid;
    border-radius: 45px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: steelblue;
}

.header h1{
    margin-left: 20px;
    padding-left: 20px;
    border: 2px solid;
    border-radius: 45px;
    width: 6.8em;
    font-size: 35px;
    background-color: darkgoldenrod;
}

#profile_pic{
    width: 110px;
    border-radius: 45px;
}

.header a{
    background-color: darkgoldenrod;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    padding-left: 15px;
    border: 2px solid black;
    border-radius: 45px;
    color: black;
}

.portfolio{
    margin: 50px;
    padding: 50px;
    border: 2px solid;
    border-radius: 45px;
    position: relative;
    gap: 15px;
    grid-auto-rows: minmax(75px, auto);
    background-color: steelblue;
}

.portfolio h2{
    margin-left: 20px;
    padding-left: 20px;
    border: 2px solid;
    border-radius: 45px;
    width: 6.8em;
    background-color: darkgoldenrod;
}

.portfolio p{
    padding: 15px;
    border: 2px solid;
    border-radius: 45px;
    width: 28em;
    background-color: darkgoldenrod;
    font-weight: bold;
}
.portfolio ul{
    list-style-type: none;
}

.portfolio li{
    margin: 15px;
    padding: 15px;
    border: 2px solid;
    border-radius: 45px;
    background-color: darkgoldenrod;
    font-weight: bold;
}

.portfolio img:hover{
    width: 250px;
}

.portfolio_pic{
    width: 125px;
}

.about-me{
    margin: 50px;
    padding: 50px;
    border: 2px solid;
    border-radius: 45px;
    position: relative;
    gap: 15px;
    grid-auto-rows: minmax(75px, auto);
    background-color: steelblue;
}

.about-me h2{
    margin-left: 20px;
    padding-left: 20px;
    border: 2px solid;
    border-radius: 45px;
    width: 6.8em;
    background-color: darkgoldenrod;
    display: inline-block;
}

.about-me p{
    padding: 15px;
    border: 2px solid;
    border-radius: 45px;
    background-color: darkgoldenrod;
    font-weight: bold;
}

.contact{
    margin: 50px;
    padding: 50px;
    border: 2px solid;
    border-radius: 45px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: steelblue;
}

.contact h2{
    margin-left: 20px;
    padding-left: 20px;
    border: 2px solid;
    border-radius: 45px;
    width: 6.8em;
    background-color: darkgoldenrod;
    display: inline-block;
}

.contact ul{
    list-style-type: none;
}

.contact a{
    background-color: darkgoldenrod;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    border: 2px solid black;
    border-radius: 45px;
    color: black;
}