body{
    background-color: olive;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    margin: 150;
    padding: 150;
    border: 2px solid;
    border-radius: 45px;
}

#header{
    margin-left: 20px;
    padding-left: 20px;
    border: 2px solid;
    border-radius: 45px;
    width: 6.8em;
    background-color: darkgoldenrod;
}

#profile_pic{
    width: 100px;
}